---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Main Files
@import
        "variables.scss",
        "base.scss";

// Vendors
@import "vendor/primer-css/scss/primer.scss",
        "vendor/primer-markdown/components/markdown.scss",
        "vendor/octicons/octicons/octicons.scss",
        "vendor/syntax-highlighting";

// Sections
@import "sections/header";

.posts {
    list-style: none;

    .post-list {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        margin-bottom: 10px;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
        }

        .post-title {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 32px;
            font-weight: 500;
        }
    }
}

.blog-post-meta {
    list-style: none;
    margin-bottom: 20px;
    color: #999;

    .meta-item {
        display: inline;
        padding-right: 20px;

        .author-avatar {
            vertical-align: top;
            border-radius: 3px;
        }
    }
}

.post {

    .post-title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 32px;
        font-weight: 500;
    }
}

.page {
    .page-title {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 32px;
        font-weight: 500;
    }
}