<ul class="posts">
    {% for post in paginator.posts %}

    <li class="post-list">
        <h2 class="post-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>

        <ul class="blog-post-meta">
            <li class="meta-item">
                <span class="octicon octicon-calendar"></span>
                <time datetime="{{ post.date }}">{{ post.date | date: "%B %-d, %Y" }}</time>
            </li>
            <li class="vcard fn meta-item">
                <img alt="@{{ site.authors[post.author].username }}" class="author-avatar" height="18" src="https://avatars1.githubusercontent.com/u/{{ site.authors[post.author].avatar }}?v=3&amp;s=36" width="18">
                <a href="{{ site.authors[post.author].url }}">{{ site.authors[post.author].username }}</a>
            </li>
            <li class="meta-item">
                <span class="octicon octicon-file-directory"></span>
                <a href="/tag/{{ post.tags[0] }}">{{ post.tags[0] }}</a>
            </li>
        </ul>

        <section class="post-content markdown-body">
            {{ post.content }}
        </section>
    </li>

    {% endfor %}
</ul>
