<nav class="menu">
    <span class="menu-heading">Main Menu</span>
    <a class="menu-item selected" href="#">About</a>
    <a class="menu-item" href="#">PodCasts</a>
    <a class="menu-item" href="#">Vídeos</a>
</nav>

<nav class="menu">
    <span class="menu-heading">Categories</span>
    <a class="menu-item selected" href="#">EcmaScript6</a>
    <a class="menu-item" href="#">CSS3</a>
    <a class="menu-item" href="#">HTML5</a>
</nav>

<nav class="menu">
    <span class="menu-heading">Authors</span>

    <!-- {% for author in site.authors %}
        <a class="menu-item" href="{{ author.username | prepend: site.url }}">{{ author.name }}</a>
    {% endfor %} -->
    <a class="menu-item" href="/randsonjs">Randson Oliveira</a>
    <a class="menu-item selected" href="/felquis">Felquis Gimenes</a>

</nav>

<a class="rss" href="/feed/index.xml">
    <span class="octicon octicon-rss" style="color: orange;"></span>
    Subscribe
</a>